//本页面由uniapp切片工具生成，uni-app切片-可视化设计工具(一套代码编译到7个平台iOS、Android、H5、小程序)，软件下载地址：http://www.ymznkf.com/new_view_669.htm
html,body,#app {height: 100%;width: 100%;}
.YmContent {height: 100%;width: 100%;}
uni-page-body,#app {height: 100%;}
button::after {border: none;width: auto;}
input{outline: none;border: none;list-style: none;width: auto;}
.list_item{float: left;}
.ym_hide{display: none;}
.ym_show{display: block;}
.slide-image {  width: 100%;  height:100%;}
.list_horizontal {width: auto; display:inline-block; }
 .main{white-space:normal;width:749upx;height:100%;padding:0upx;clear:both;float:left;background-color:#f5f6fa; border-radius:0upx;font-size:8upx;}
 .main .tip{white-space:normal;width:749upx;height:384upx;padding:0upx;clear:both;margin-top:0upx;margin-left:0upx;float:left;background-color:#ffffff; border-radius:0upx;font-size:1upx; line-height:1upx;}
 .main .tip .icon{white-space:normal;width:129upx;height:128upx;padding:0upx;clear:both;margin-top:77upx;margin-left:310upx;float:left; border-radius:0upx;font-size:8upx; line-height:128upx;}
 .main .tip .reg_ok_20{white-space:normal;width:150upx;height:38upx;padding:0upx;clear:both;margin-top:25upx;margin-left:299upx;float:left;text-align:center;justify-content:center; border-radius:0upx; color:#646464;font-size:32upx; line-height:38upx;}
 .main .tip .reg_ok_21{white-space:normal;width:570upx;height:77upx;padding:0upx;clear:both;margin-top:20upx;margin-left:90upx;float:left;text-align:center;justify-content:center; border-radius:0upx; color:#c8c8c8;font-size:29upx; line-height:35upx;}
 .main .btOk{white-space:normal;width:703upx;height:93upx;padding:0upx;clear:both;margin-top:63upx;margin-left:24upx;float:left;background-color:#4286f5;text-align:center;justify-content:center; border-radius:10upx; color:#ffffff;font-size:33upx; line-height:93upx;}
